{% extends "products/base.html" %}

{% block content %}
<section>
    <div class="container pt-5">
        <div class="text-center mt-5">
            <h1>Order №12345</h1>
            <div class="orders mt-5">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">
                            Name 2
                        </th>
                        <td>1</td>
                        <td>6 090,00</td>
                        <td>6 090,00</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Name 2
                        </th>
                        <td>1</td>
                        <td>23 725,00</td>
                        <td>23 725,00 </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            Name 3
                        </th>
                        <td>2</td>
                        <td>3 390,00</td>
                        <td>6 780,00</td>
                    </tr>
                    </tbody>
                </table>
                <p class="float-right h4 mt-3">Total 36 595,00</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}